.env/
condocalc/scrapy.cfg
condocalc/condocalc/spiders/__init__.py
condocalc/condocalc/settings.py
condocalc/condocalc/pipelines.py
condocalc/condocalc/middlewares.py
condocalc/condocalc/items.py
condocalc/condocalc/__init__.py
.idea/
items.json
__pycache__
tutorial/
condocalc/condocalc/spiders/calc.py
condoclac2/bot/dist/run.exe
condoclac2/bot/run.spec
condoclac2/bot/build/run/Tree-02.toc
condoclac2/bot/build/run/Tree-01.toc
condoclac2/bot/build/run/Tree-00.toc
condoclac2/bot/build/run/run.pkg
condoclac2/bot/build/run/run.exe.manifest
condoclac2/bot/build/run/PYZ-00.toc
condoclac2/bot/build/run/PYZ-00.pyz
condoclac2/bot/build/run/PKG-00.toc
condoclac2/bot/build/run/EXE-00.toc
condoclac2/bot/build/run/base_library.zip
condoclac2/bot/build/run/Analysis-00.toc
condoclac2/bot/build/run/warn-run.txt
condoclac2/bot/build/run/xref-run.html
